.grid_gallery_container {
  position: relative;
  height: 100%;
  margin-bottom: 5em;
  /* background-color: var(--mantine-color-violet-5); */
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--mantine-color-gray-5); */
  z-index: 500;
}
.gallery {
  padding: 2em;
  position: relative;
  width: fit-content;
  /* width: 100%; */
  /* height: 50vh; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px 1fr));
  /* grid: repeat(6, 1fr) / 1fr; */
  /* grid: 1fr 1fr / 1fr; */
  /* grid: 1fr / repeat(2, 1fr); */
  gap: 1.5em;
  justify-items: center;
  /* align-content: center; */
  /* justify-content: center; */
  align-items: center;
  grid-auto-flow: column;
  /* background-color: var(--mantine-color-green-9); */
}

.card_section_absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: var(--mantine-color-pink-9); */
}
.grid_bg_sections {
  /* position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  width: 100%;
  height: fit-content;
}
.bg_section {
  position: relative;
  width: 100%;
  height: 50vh;
  /* background-color: var(--mantine-color-teal-7); */
}
