.grid_gallery_container {
  position: relative;
  width: 100%;
  height: 400vh;
  background-color: var(--mantine-color-violet-5);
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mantine-color-gray-5);
  z-index: 500;
}
.gallery {
  position: relative;
  width: 100%;
  height: 50vh;
  display: grid;
  gap: 1em;
  justify-items: end;
  align-content: center;
  justify-content: end;
  align-items: center;
  /* place-content: center; */
  /* place-items: center; */
  grid-auto-flow: column;
  background-color: var(--mantine-color-green-9);
}
