.container {
  display: block;
  position: fixed;
  top: 40%;
  left: 50%;
  text-decoration: none;
  clip-path: inset(0);
  max-width: max-content;
  transform: translate(-50%, -50%);
  z-index: 900;
  /* background-color: var(--mantine-color-black); */
}
.name {
  display: block;
  position: relative;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--mantine-color-text);
  margin: 0;
  padding: 0.25em;
  text-align: center;
  user-select: none;
  /* background-color: var(--mantine-color-green-9); */
}
